@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
    height: 400px;
}
nav li:last-child a {
    background: $primary;
    &:hover{
        
    background: $primary-hover;
    }
}
nav li a {
    transition: all .3s ease-in-out;
    &:hover{
    color: $primary;
    }
}
.size{
    background: $secondary;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: .3s;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
        
    }
}
.hero{
    height: 700px;
}
.btn-primary{
    border: 2px solid $primary;
    color: $primary;
  
    transition: .7s;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
        transition: .7s;
       
    }
}
section.login{
    
    min-height: calc(100vh-86px);
   
}
