<section class="cart py-16">
    <div class="order container mx-auto  w-1/2">
    <div class="flex items-center"> 
        <img src="/img/cart.png" alt="cart">
        <h1 class="font-bold ml-4 text-2xl">YOUR ORDER</h1>
        <hr />
        </div>
        <div class="order-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="img/momos.jpg" alt="">
                <div class="flex-1 ml-4">
                    <h1>
                        momos
                    </h1>
                    
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-lg">200</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="img/momos.jpg" alt="">
                <div class="flex-1 ml-4">
                    <h1>
                        momos
                    </h1>
                    
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-lg">200</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="img/momos.jpg" alt="">
                <div class="flex-1 ml-4">
                    <h1>
                        momos
                    </h1>
                    
                </div>
                <span class="flex-1">1 pcs</span>
                <span class="font-bold text-lg">200</span>
            </div>
            <hr />
           <div class="text-right py-4">
               <div>
                   <span class="text-lg font-bold">total amount</span>
                   <span class="amount text-2xl font-bold ml-2">600</span>
               </div>
           </div>
        </div>
           <div class="mt-12 ml-56">
           <form action="">
               <input class="border border-black-400 p-2 w-1/2 mb-2" type="text" placeholder="enter your door no">
           </form>
           <form action="">
            <input class="border border-black-400 p-2 w-1/2 mb-2" type="text" placeholder="enter your street">
        </form>
        <form action="">
            <input class="border border-dark-400 p-2 w-1/2 mb-2" type="text" placeholder="enter your area">
        </form>
      <!---- <div class="btn-primary px-6 py-2 w-1/2 rounded-full text-white font-bold mt-6;">
        <button type="submit"><b class="ml-20">order now</b></button>
       </div> -->
        
    
        </div>
        <div class="mt-12 ml-56">
            <a href="" class="inline-block cursor-pointer btn-primary px-16 py-2 w-1/2 rounded-full text-white font-bold mt-6">Login to continue</b></a>
        </div>
        
        </div>

    </div>
<!--<div class="empty-cart">
    <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold mb-2 py-16 mt-12">OOPS! the cart is empty </h1>
        <h2>please go to home and order to get the food procesed here</h2>
        <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">BACK</a> 
    </div>
</div>-->

</section>